---
import BaseLayout from "../layouts/BaseLayout.astro"
import SideBar from "../components/SideBar.astro"
import ImageCards from '../components/ImageCards.astro'

// import data from '../data'
---

<BaseLayout title = 'WallPaper | Home'>
    <div class="flex flex-col md:flex-row px-5 md:px-10 w-full min-h-min bg-black">
        <SideBar /> 
        <!-- <div class="min-h-min w-full px-5 grid grid-cols-2 md:grid-cols-3 grid-rows-3 text-white">
            {data.map((item , indx)=>{
                return (
                    <ImageCards imgUrl = {item.urls.small} imgAlt = {item.alt_description} />
                )
            })}
        </div> -->
    </div>
</BaseLayout>