<nav
  class="flex justify-between items-center w-full md:h-15 bg-black text-white"
>
  <div class="flex w-2/5 justify-center items-center text-2xl font-bold px-2">
    <img src="/favicon.svg" alt="Logo" width="55px" height="55px"/>
    <h1 class="mx-2">WallPaper</h1>
  </div>

  <div class="mx-2 w-full h-full text-center">
    <input type="text" name="search" id="searchbox" placeholder="Nature" class="w-3/4 h-10 pl-3 rounded-2xl bg-slate-600 placeholder:text-white placeholder:italic hover:bg-slate-500 text-lg font-semibold outline-none tracking-wide">
    <i class="fa-solid fa-magnifying-glass text-white relative -start-10 cursor-pointer"></i>
  </div>

  <div class="flex justify-start items-center text-lg font-semibold px-2">
    <a href="#" class="mx-3 hover:underline">Nature</a>
    <a href="#" class="mx-3">Sun</a>
    <a href="#" class="mx-3">Moon</a>
    <a href="#" class="mx-3">Heros</a>
  </div>
</nav>
