<nav
  class="flex justify-between items-center w-full md:h-15 bg-black text-white"
>
  <div
    class="flex w-2/5 justify-center items-center text-lg md:text-2xl font-bold mx-4 px-2"
  >
    <img src="/favicon.svg" alt="Logo" width="55px" height="55px" />
    <h1 class="mx-2">WallPaper</h1>
  </div>

  <div class="mx-2 w-full h-full text-center">
    <input
      type="text"
      name="search"
      id="searchbox"
      placeholder="Nature"
      class="w-3/4 h-10 pl-3 rounded-2xl bg-slate-600 placeholder:text-white placeholder:italic hover:bg-slate-500 text-lg font-semibold outline-none tracking-wide"
    />
    <i
      class="fa-solid fa-magnifying-glass text-white relative -start-10 cursor-pointer"
      id="search-icon"
    ></i>
  </div>

  <div class="text-white md:hidden mx-5 text-2xl">
    <i class="fa-solid fa-bars cursor-pointer"></i>
  </div>

  <div
    class="hidden md:w-1/5 md:flex md:justify-start md:items-center text-lg font-semibold mx-4"
  >
    <a href="#" class="mx-3 hover:underline">Nature</a>
    <a href="#" class="mx-3 hover:underline"><i class="fa-solid fa-book-open"></i></a>
    <a href="#" class="mx-3 hover:underline"><i class="fa-regular fa-user"></i></a>
  </div>
</nav>
